<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
    		<tab id="karl" translate="label" sortOrder="500">
    			   <label>Karl</label>
    		</tab>
    		<section id="karl_wordpress_api" showInDefault="1" showInStore="1" showInWebsite="1" sortOrder="10" translate="label">
      			<label>Karl WordpressApi</label>
      			<tab>karl</tab>
      			<resource>Karl_WordpressApi::configuration</resource>
      			<group id="general" showInDefault="1" showInStore="1" showInWebsite="1" sortOrder="10" translate="label">
        				<label>General</label>
        				<field id="enable_wordpress_api" showInDefault="1" showInStore="1" showInWebsite="1" sortOrder="10" translate="label" type="select">
          					<label>Enabled</label>
          					<source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
        				</field>
        				<field id="wordpress_url" showInDefault="1" showInStore="1" showInWebsite="1" sortOrder="20" translate="label,comment" type="text">
          					<label>Wordpress URL</label>
          					<comment>The URL of the wordpress install, including index.php if that is in the base URL.</comment>
        				</field>
                <field id="route_name" showInDefault="1" showInStore="1" showInWebsite="1" sortOrder="30" translate="label,comment" type="text">
                    <label>Route Name</label>
                    <comment>The name for your blog route, i.e. if your route is http://yoursite.com/blog it would be 'blog'</comment>
                </field>
      			</group>
    		</section>
  	</system>
</config>
